.main {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #1b1e23;
/*  27,30,35*/
}
.left {
  /* 模块大小 */
  width: 33%;
  height: 90%;
  /* 位置 */
  position: absolute;
  left: 2%;
  top: 5%;

  /*background-color: #c519df;*/
}
.right {
  /* 模块大小 */
  width: 60%;
  height: 90%;
  /* 位置 */
  position: absolute;
  right: 2%;
  top: 5%;
  /*background-color: #14c620;*/
}